/*custom font for text*/
    @import url(http://fonts.googleapis.com/css?family=Nunito);

    /*Basic reset*/
    * {
        margin: 0;
        padding: 0;
    }
    
    #vertical-menu {
        background: #004050;
        width: 250px;
        margin: 0px 0px 0 0;
        color: white;
        /*box-shadow: 
                    0 5px 15px 1px rgba(0, 0, 0, 0.6), 
                    0 0 200px 1px rgba(255, 255, 255, 0.5);*/
    }
    /*heading styles*/
    #vertical-menu h3 {
        font-size: 12px;
        line-height: 34px;
        padding: 0 10px;
        cursor: pointer;
        /*fallback for browsers not supporting gradients*/
        background: #003040;
        background: linear-gradient(#003040, #002535);
    }
    /*heading hover effect*/
    #vertical-menu h3:hover {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
    /*iconfont styles*/
    #vertical-menu h3 span {
        font-size: 16px;
        margin-right: 10px;
    }
    /*list items*/
    #vertical-menu li {
        list-style-type: none;
    }
    /*links*/
    #vertical-menu ul ul li {
        color: white;
        text-decoration: none;
        font-size: 11px;
        line-height: 27px;
        display: block;
        padding: 0 15px;
        /*transition for smooth hover animation*/
        transition: all 0.15s;
    }
    /*hover effect on links*/
    #vertical-menu ul ul li :hover {
        background: #003545;
        /*border-left: 5px solid lightgreen;*/
    }
    /*Lets hide the non active LIs by default*/
    #vertical-menu ul ul {
        display: none;
    }
    #vertical-menu li.active ul {
        display: block;
    }
    .mainLi {margin: -20px 0 0 0 !important;}
    
    input[type=checkbox]{ margin: 0px 6px 0px 5px;}